footer {
	
	p {
		font-family: "proxima-nova",sans-serif;
		text-transform: uppercase;
		font-size: 12px;
		text-align: center;
	}
	
	a {
		padding: 0 0 2px;
		color: white;
		
		&:hover,
		&:active {
		}
	}
}