/* Import Base Styles */
/*-------------------------------------------
   	Global Starter
-------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, menu, nav, section, main, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary, audio, canvas, progress, video {
  display: block; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased; }

body {
  -moz-font-feature-settings: "liga", "kern";
  -moz-font-feature-settings: "liga=1, kern=1";
  -ms-font-feature-settings: "liga", "kern";
  -o-font-feature-settings: "liga", "kern";
  -webkit-font-feature-settings: "liga", "kern";
  font-feature-settings: "liga", "kern"; }

/* apply a natural box layout model to all elements, but allowing components to change */
/* http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

a:active,
a:hover {
  outline: 0; }

/* Nice Subs & Sups */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
  display: block;
  max-width: 100%;
  height: auto; }
  a img {
    border: none; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button {
  cursor: pointer; }

::-moz-selection {
  background: #d7d7d7;
  color: #000;
  text-shadow: none; }

::selection {
  background: #d7d7d7;
  color: #000;
  text-shadow: none; }

/* Color Variables */
/* Font Sizes */
/* font familes */
/* Base Fonts */
/* Site Specific General Styles */
body {
  color: #d4d4d4;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  font-style: normal;
  background: black; }
  @media screen and (min-width: 1200px) {
    body {
      font-size: 22px; } }

b, strong {
  font-weight: 700; }

i, em {
  font-style: italic; }

p {
  line-height: 1.5em;
  margin-bottom: 1em; }

ul {
  line-height: 1.7em;
  margin-left: 1em; }
  ul li {
    margin: auto;
    margin-bottom: 1em; }

ol {
  line-height: 1.7em;
  margin-left: 1em; }
  ol li {
    margin-bottom: 1em; }

dl {
  line-height: 1.7em; }

a {
  color: #fffc01;
  text-decoration: none;
  padding: 0;
  border-bottom: 1px solid rgba(255, 252, 1, 0.3); }
  a:hover, a:active {
    border-bottom: 1px solid #fffc01; }

img[align="right"],
img.right {
  float: right;
  margin: 10px 0 20px 30px; }
  @media screen and (max-width: 640px) {
    img[align="right"],
    img.right {
      float: none;
      margin: 20px auto; } }

img[align="left"],
img.left {
  float: left;
  margin: 10px 30px 20px 0; }
  @media screen and (max-width: 640px) {
    img[align="left"],
    img.left {
      float: none;
      margin: 20px auto; } }

@media screen and (max-width: 640px) {
  .hide-small {
    display: none; } }

@media screen and (min-width: 640px) and (max-width: 1200px) {
  .hide-medium {
    display: none; } }

@media screen and (min-width: 1200px) {
  .hide-large {
    display: none; } }

@media screen and (max-width: 640px) {
  .break-small {
    display: block; } }

@media screen and (max-width: 1200px) {
  .break-medium {
    display: block; } }

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
  margin: 0; }
  table th {
    text-align: left; }

.op0 {
  opacity: 1; }

.op1 {
  opacity: .1; }

.op2 {
  opacity: .2; }

.op3 {
  opacity: .3; }

.op4 {
  opacity: .4; }

.op5 {
  opacity: .5; }

.op6 {
  opacity: .6; }

.op7 {
  opacity: .7; }

.op8 {
  opacity: .8; }

.op9 {
  opacity: .9; }

.op10 {
  opacity: 0; }

/* Contain floats: h5bp.com/q */
.group:before, .group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

/* Hide only visually, but have it available for screenreaders: */
/* Perhaps update based on this: https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe */
.vh {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .vh.focusable:active, .vh.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
/* for image replacement */
/* Hide for both screenreaders and browsers */
/* Zero out list styles */
/* Stand for No Text */
.nt {
  display: block;
  border: 0;
  text-indent: -123456em;
  overflow: hidden;
  text-align: left;
  direction: ltr;
  *line-height: 0; }

.nobr {
  white-space: nowrap; }

.hideSmall {
  display: none; }
  @media screen and (min-width: 640px) {
    .hideSmall {
      display: inherit; } }

a, svg path {
  transition: all 0.25s ease-in-out; }

/* Custom CSS */
header {
  margin: 0 auto;
  max-width: 1200px;
  padding: 50px 20px 0; }
  header img {
    margin: 0 auto;
    width: 600px; }

footer p {
  font-family: "proxima-nova",sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center; }
footer a {
  padding: 0 0 2px;
  color: white; }

main {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start; }

.content {
  order: 2;
  margin: 0 auto; }

.sidebar {
  order: 1;
  margin: 0 auto; }

.release {
  max-width: 700px;
  margin: 0 30px 50px; }
  .release:before {
    display: block;
    content: "";
    width: 25%;
    margin: 0 auto 50px;
    height: 2px;
    background: white; }
  .release h2 {
    text-transform: uppercase;
    margin: 0 auto 5px;
    text-align: center;
    font-size: 21px;
    line-height: 1.4em; }
  .release img {
    margin: 0 0 10px; }
  .release .info p {
    line-height: 1.3; }

@media screen and (min-width: 620px) {
  .release {
    margin-left: auto;
    margin-right: auto; }
    .release h2 {
      margin: 0 0 30px; }

  .release-wrap .image {
    width: 35%;
    margin: 0 0 20px 30px;
    float: right; }
  .release-wrap .info {
    font-size: 15px; } }
.sidebar .headline {
  text-transform: uppercase;
  margin: 30px auto 40px;
  text-align: center;
  font-size: 18px;
  line-height: 1.4em;
  max-width: 960px; }
.sidebar .lineup {
  text-align: center; }
.sidebar aside h3 {
  display: none; }
.sidebar aside ul {
  list-style-type: none;
  text-align: center;
  margin: 50px 0; }
.sidebar aside li {
  display: inline-block;
  padding: 0 10px; }

.records {
  margin: 0 auto; }
  .records img {
    border: 1px solid white;
    margin-bottom: 10px; }
  .records figure {
    max-width: 450px;
    margin-bottom: 50px; }
  .records figcaption {
    text-align: center;
    line-height: 1.5; }
  @media screen and (min-width: 768px) {
    .records {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      align-content: flex-start;
      max-width: 960px; }
      .records figure {
        width: 47.5%;
        margin-bottom: 50px; } }
  @media screen and (min-width: 1080px) {
    .records figure {
      width: 30%;
      margin-bottom: 50px; }
    .records figcaption {
      font-size: 16px; } }

/* Javascript Only! */

/*# sourceMappingURL=screen-pre.css.map */
